body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5  tahoma,arial,\5b8b\4f53;}
input,textarea{ border:1px solid #cccccc}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal; font-weight:normal;}
small{font-size:12px;} ul,ol{list-style:none;}
a{text-decoration:none; color:#666;} a:hover{ text-decoration: none;color:#C300A4;}
fieldset,img{border:0;}button,input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}
.site-nav {background: none repeat scroll 0 0 #F5F5F5;border-bottom: 1px solid #DCDCDC;width: 100%; z-index: 10000;}
.site-nav .site-nav-bd {margin: 0 auto;width: 1200px;height:40px;position:relative;}
.site-nav .site-nav-bd p a{color:#C300A4; padding:6px; font-size:16px; display:block;}
.site-nav .site-nav-bd .site-nav-bd-m{position: absolute; right:0px;top: 8px;}
.site-nav .site-nav-bd .site-nav-bd-m li {background-position: right 6px;float: left;margin-left: -1px;color:#666666; font-size:14px; padding:0px; }
.site-nav .site-nav-bd .site-nav-bd-m li.menu-item-home span{background:url(../images/1.png); width:12px; height:16px;display: inline-block; margin: 0px 5px -4px 5px; }
.site-nav .site-nav-bd .site-nav-bd-m li.login{ margin-right:60px;}
.site-nav .username-field, .site-nav .pwd-field,.site-nav .btn ,.site-nav .zc,.site-nav .wm{float: left; margin-right: 10px;}
.site-nav .zc a,.site-nav .wm a{color:#C300A4;}
.site-nav .site-nav-bd .site-nav-bd-m .btn{ background:repeat scroll 0 0 #C300A4; width:56px; height:22px;}
.site-nav .site-nav-bd .site-nav-bd-m .btn a:hover{ font-weight:bold;}
.site-nav .site-nav-bd .site-nav-bd-m li.menu-item a{color:#666666; }
.site-nav .menu-hd { cursor: pointer;display: block;height: 32px; padding:0px 10px;position: relative;z-index: 10002;}
.site-nav .menu-hd span{ background:url(../images/2.png); width:16px; height:16px;display: inline-block; margin: 0px 0px -2px 5px; }
.site-nav .menu-hd-succeed span{ background:url(../images/3_03.jpg); width:12px; height:14px }
.site-nav .menu-bd { background: none repeat scroll 0 0 #FFFFFF; border-color: #BFBFBF; border-style: solid; border-width: 1px; display: none;
 position: absolute;right: 0;z-index: 10001;}
.site-nav .menu-bd .menu-bd-panel { padding:0px 10px;}
.site-nav .menu-bd .menu-bd-panel li{overflow:hidden; white-space:nowrap;height:25px; line-height:25px;}
.site-nav .menu-bd .menu-bd-panel li a:hover{ color:#C200A3;}
.site-nav .menu01 {position: relative;}
.site-nav .menu-bd .menu-bd-panel .xl{background: url(../images/35.png) no-repeat 0 -1px; width:21px; height:19px;display: inline-block; margin:0 5px -5px 0;}
.site-nav .menu-bd .menu-bd-panel .tx{ background: url(../images/35.png) no-repeat 0 -46px; width:22px; height:19px;display: inline-block; margin:0 
5px -5px 0;}
.site-nav .menu-bd .menu-bd-panel .wx{ background: url(../images/35.png) no-repeat 0 -25px; width:26px; height:20px;display: inline-block;margin:0 3px -5px 0;}
.site-nav .menu01:hover .menu-hd {background: none repeat scroll 0 0 #FFFFFF; border-color: #BFBFBF; border-style: solid solid none solid;
 border-width: 1px; }
.site-nav .menu01:hover .menu-hd span {background:url(../images/3.png); width:16px; height:16px;display: inline-block; margin: 0px 0px -2px 4px; }
.site-nav .menu01:hover .menu-hd-succeed span {background:url(../images/3_031.jpg); width:12px; height:14px; }
.site-nav .hover .menu-hd { background: none repeat scroll 0 0 #FFFFFF; border-color: #BFBFBF; border-style: solid solid none solid; border-width: 1px;}
.site-nav .menu01:hover .menu-bd {display: block;}
.site-nav .hover .menu-bd { display: block;}
.site-nav .mytaobao { width:100px;}
.site-nav .menu-bd {float: left; top: 32px;}
.header{margin: 0 auto;width: 1000px;}
.header .top{ padding:10px; overflow:auto; clear:both;}
.header .top .logo{ float:left;height:100px; width:400px;}
.parter{padding:10px 0;}
.parter span{ display:block; background: url(../images/27.png) no-repeat; width:76px; height:16px; float:right; cursor:pointer;}
.parter span a{ color:#FFFFFF; padding:5px 0 0 10px;}
.parter h1{ border-bottom:1px solid #bfbfbf; height:26px;} 
.parter p{ padding:10px; color:#666666; line-height:25px;}  
.foot{background: url(../images/29.png) repeat-x; padding:20px 20px 10px 20px; overflow:hidden; clear:both}
.foot .logo-min{ float:left;height: 72px;margin:10px 30px;width: 143px}
.floot .logo-min .helper{ float: left;}
.foot .helper dl{float: left;width: 120px; overflow:hidden; white-space:nowrap;}
.foot .helper dl dt{font-size: 14px; font-weight:bold; line-height:30px;}
.foot .helper dl dt a:hover{color:#000;}
.foot .helper dd a{ color:#999999; line-height:24px;}
.foot .helper dd a:hover{ color:#C300A4;}
.foot-nav p{ color:#666666; text-align:center; margin-bottom:20px;}	
.foot-nav p a:hover{ color:#000;}
.foot-nav{ padding:15px 0; overflow:hidden}	
	
/*聊天系统*/
#contitle{width:305px; height:30px; background-color: #eee;/*background:url(../images/contitle.jpg);*/ position:fixed; bottom:0px; right:0px; display:block; z-index:9999; cursor:pointer;}
.con-del{width:28px; height:31px; float:right; margin:30px 5px 0 0; padding:0; display:block;}
#contitle ul{
	display:block;height:36px;border:1px solid #b5b5b5; padding:0;
}
#contitle ul li{float:left;height: 36px;}
#contitle ul li.l{width:26px;background:url(../images/nav_left.png) 5px 5px no-repeat;border-right:1px solid #b5b5b5;}
#contitle ul li.c{border-right:1px solid #b5b5b5;}
#contitle ul li.r{padding:3px 0px 5px 30px;background:url(../images/nav_pp.png) 5px 5px no-repeat;}
#contitle ul li.c .sysinfo{width: 80px;line-height: 26px;background:url(../images/nav_msg_a.png) 5px 5px no-repeat;padding:3px 0px 5px 30px;}
#contitle ul li.c img{
	float:right;display:none;margin: 5px 5px 0 0;
}
#contitle ul li.c:hover img{display:block;}
#contitle ul li.r .contacter{
	padding-right:30px;line-height:26px;background:url(../images/sys-up.png) 100% 5px no-repeat;
}

#content{width:420px; height:350px; background-color: #eee;/*background:url(../images/content.jpg);*/ position:fixed; bottom:0px; right:0px;  z-index:9999; display:none;}
#content div.l{float:left;height:100%;width:249px;border: 1px solid #949694;border-right: none;}
#content div.l .pp-content{}
#content div.l .pp-content .content-1{display:none;}
#content div.l .pp-content .content-1 .content-bg{height:25px;border-bottom:1px solid #5b5b5b;background: url(../images/nav_status.png) 5px -100px no-repeat;	padding: 0px 0px 0px 30px;line-height:25px;}
#content div.l .pp-content .content-1 .content-bg .title{float:left;width: 60%;}
#content div.l .pp-content .content-1 .content-bg .btn-box{float:right;width: 40%;line-height: 25px;}
#content div.l .pp-content .content-1 .content-bg .btn-box a{color:#707070;}
#content div.l .pp-content .content-1 .content-bg .btn-box .min{width:20px;display:inline-block;background: url(../images/nav_mp.png) 5px 5px no-repeat;cursor:pointer;}
#content div.l .pp-content .content-1 .content-bg .btn-box .closeX{width:20px;display:inline-block;background: url(../images/nav_mp.png) -25px 5px no-repeat;cursor:pointer;}
#content div.l .pp-content .box-1{height:278px;width:240px;padding:5px;overflow-y:scroll;clear:both;background-color:white;}
#content div.l .pp-content .tool-btn{border-top:1px solid #b5b5b5;height:35px;background: url(../images/nav_status.png) 5px -95px no-repeat;padding: 0px 0px 0px 30px;}
#content div.l .pp-content .tool-btn div.on{background-position:20px 0px;}
#content div.l .pp-content .tool-btn div.busi{background-position:20px -68px;}
#content div.l .pp-content .tool-btn div.leav{background-position:20px -95px;}
#content div.l .pp-content .tool-btn div.off{background-position:20px -42px;}



#content div.l .sysinfo-content{display:block}
#content div.l .sysinfo-content .sysmsg-bg{height:25px;border-bottom:1px solid #5b5b5b;background: url(../images/nav_msg_a.png) 5px 0px no-repeat;padding: 0px 0px 0px 30px;line-height:25px;}
#content div.l .sysinfo-content .sysmsg-bg .title{float:left;width: 60%;}
#content div.l .sysinfo-content .sysmsg-bg .btn-box{float:right;width: 40%;line-height: 25px;}
#content div.l .sysinfo-content .sysmsg-bg .btn-box a{color:#707070;}
#content div.l .sysinfo-content .sysmsg-bg .btn-box .min{width:20px;display:inline-block;background: url(../images/nav_mp.png) 5px 5px no-repeat;cursor:pointer;}
#content div.l .sysinfo-content .sysmsg-bg .btn-box .closeX{width:20px;display:inline-block;background: url(../images/nav_mp.png) -25px 5px no-repeat;cursor:pointer;}
#content div.l .sysinfo-content .content-box{height:288px;width:250px;clear:both;background-color:white;vertical-align:middle;text-align:center;display:table-cell;}
#content div.l .sysinfo-content .tool-btn{border-top:1px solid #b5b5b5;height:35px;background: url(../images/nav_msg_a.png) 5px 5px no-repeat;padding: 0px 0px 0px 30px;}

#content div.r{float:right;height:100%;width:168px;border:1px solid #949694;}
#content .r .r-box{border-bottom:1px solid #b5b5b5;}
#content .r .r-box .r-status{float:left;background:url(../images/nav_on_bg.png) 0px 0px no-repeat;width: 75px;cursor:pointer;height: 25px;}
#content .r .r-box .r-status .online{padding: 5px 0 5px 25px;}
#content .r .r-box .r-status .online-info{position:relative;left:0px;top:-2px;display:none;background-color:#eee;}
#content .r .r-box .r-status .online-info ul{border:1px solid #b5b5b5;line-height: 24px;background:url(../images/nav_status.png) 0px 0px no-repeat; padding:0}
#content .r .r-box .r-status .online-info ul li{padding-left:30px;}
#content .r .r-box .r-status .online-info ul li:hover{background-color:#b5b5b5;}
#content .r .r-box .close{float:right;width:90px;}
#content .r .r-box .close div{float:right;width:20px;height:25px;background:url(../images/nav_mp.png) -5px 5px no-repeat;cursor:pointer}
#content .r .r-box .plist{padding:10px 0;height: 268px;}
#content .r .r-box .plist .list{margin-bottom:20px;}
#content .r .r-box .plist .list .title{padding-left:25px;line-height:26px;background:url(../images/dot.png) 10px 3px no-repeat;}
#content .r .r-box .plist .list  ul{margin-left:0px;}
#content .r .r-box .plist .list  ul li{cursor:pointer;margin-right:30px;}
#content .r .r-box .plist .list  ul li div{padding:5px 0 5px 50px;background:url(../images/nav_status.png) no-repeat;}
#content .r .r-box .plist .list  ul li div.on{background-position:20px 5px;}
#content .r .r-box .plist .list  ul li div.busi{background-position:20px -73px;}
#content .r .r-box .plist .list  ul li div.leav{background-position:20px -100px;}
#content .r .r-box .plist .list  ul li div.off{background-position:20px -47px;}
#content .r .r-box .plist .list  ul li div.selected{position: relative;left: -1px;background-color:white;border:1px solid #b5b5b5;border-left:none;}
#content .r .r-box .plist .sysinfo {}
#content .r .r-box .plist .sysinfo .sysinfo-box{margin:5px 30px 0 0;}
#content .r .r-box .plist .sysinfo .sysinfo-box div{background:url(../images/sys-msg.png) 5px 3px no-repeat;padding:5px 0px 5px 45px;cursor:pointer;}
#content .r .r-box  .plist .selected{position: relative;left: -1px;}
#content .r .r-box  .plist .selected .sysinfo-box{margin:5px 30px 0 0;background-color:white;border:1px solid #b5b5b5;border-left:none;}
#content .r .page {padding:5px 0px 5px 30px;background:url(../images/nav_pp.png) 5px 5px no-repeat;cursor:pointer;}
#content .r .page .contacter{
	padding-right:0px;line-height:26px;background:url(../images/sys_down.png) 95% 2px no-repeat;
}


.go_top{background: url(../images/34.png) no-repeat scroll 0 0 ; cursor: pointer;display: block;height: 31px;position: fixed;_position: absolute;right:30px;z-index: 999;width: 31px; top: 80%;}
.fixed-sidebar{position: fixed; right: 0; top: 30%; z-index: 9998; border:1px solid #bfbfbf;}
.fixed-sidebar li{ border-bottom:1px solid #bfbfbf; height:25px; width:110px; padding:5px;}
.fixed-sidebar .span-one{ background: url(../images/35.png) no-repeat 0 -1px; width:21px; height:19px;display: inline-block; }
.fixed-sidebar .span-two{ background: url(../images/35.png) no-repeat -28px 0px; width:63px; height:25px;display: inline-block;cursor:pointer}
.fixed-sidebar .span-three{ background: url(../images/35.png) no-repeat 0 -46px; width:22px; height:19px;display: inline-block;}
.fixed-sidebar .span-four{ background: url(../images/35.png) no-repeat -28px -41px; width:63px; height:25px;display: inline-block;cursor:pointer}
.fixed-sidebar li.helper{ border-bottom:none;}
.fixed-sidebar .helper .span-five{ background: url(../images/35.png) no-repeat 0px -74px; width:22px; height:16px;display: inline-block;}
.menu-item-dh .menu-hd{ position:relative;}
.menu-item-dh .menu-bd{ position:absolute;top:33px; right:0px; width:1060px; background:#FFFFFF; padding:20px; border:none;}
.menu-item-dh .menu-bd{display:none;z-index: 20000; border-bottom:1px solid #bfbfbf;border-left:1px solid #bfbfbf;border-right:1px solid #bfbfbf;}
.hover .menu-bd{display: block;}
.menu-item-dh .mm-menu-bd1,.menu-item-dh .mm-menu-bd2,.menu-item-dh .mm-menu-bd3,.menu-item-dh .mm-menu-bd4,.menu-item-dh .mm-menu-bd5,.menu-item-dh .mm-menu-bd6,.menu-item-dh .mm-menu-bd7,.menu-item-dh .mm-menu-bd8{ float:left; width:200px;}
.menu-item-dh h1{ font-weight:bold; font-size:18px; margin-bottom:10px;}
.menu-item-dh .mm-menu-bd1 li,.menu-item-dh .mm-menu-bd2 li,.menu-item-dh .mm-menu-bd3 li,.menu-item-dh .mm-menu-bd4 li,.menu-item-dh .mm-menu-bd5 li,.menu-item-dh .mm-menu-bd6 li,.menu-item-dh .mm-menu-bd7 li, .menu-item-dh .mm-menu-bd8 li{float:left; height:25px; line-height:25px; margin-right:10px;}
.menu-item-dh li a{ font-size:12px;}	
.xc-search-tab {position: relative;width:400px; float:left;}
.xc-tab {height: 30px;left: 0;overflow: hidden;position: absolute;top: 0;z-index: 1;}
.xc-search-input span {display: none;}
.xc-search-input input {border: 0 none; float: left;}
.xc-tab li {color: #000;cursor: pointer;float: left;height: 30px;line-height: 30px;text-align: center;width: 75px;}
.xc-tab li.current {background-color:#eee;border-color: #D2D2D2 #D2D2D2 #D2D2D2;border-style: solid solid none;border-width: 1px 1px 0;color: #C200A3;height: 29px;line-height: 29px;width:75px;}
.xc-search .current {display: block;}
.xc-search {left: 0;position: absolute;top: 29px;z-index: 1000;}
.xc-search-input {display: none;}
.xc-search-input input.xc-conditions {background: url(../images/6.png); height:40px; width:40px;border: 1px solid #D2D2D2;display: block;
height: 40px;line-height: 27px;padding-left: 10px;width: 390px;}
.search{ float:right; margin:15px 50px 0 0;}
.xc-submit{ background:url(../images/7.png); width:50px; height:67px; float:right; margin-left:10px; cursor:pointer;}


body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
margin: 0;
padding: 0;
}
.cl {
clear: both;
margin: 0px;
padding: 0px;
font-size: 0px;
line-height: 0px;
height: 0px;
border: none;
float: none;
}
.fl{float:left}
.fr{float:right!important}	
.clear{clear:both}
.bdgray{border:1px solid #ccc}
.pinkcolor{color:#c200a3!important}
.graycolor{color:#666!important}
.gray {color: #aaa!important;}
.red {color: #ff0000!important;}
.blue{ color:#147DB4!important}
.cGreen {color: #416902;}
.cRed{color: #c200a3;}
.mt5{margin-top:5px!important}
.ml3{margin-left:3px;*margin-left:0}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.mt15{margin-top:15px}
.mt10{margin-top:10px}
.ml15{margin-left:15px}
.ml25{margin-left:25px}
.mr10{margin-right:10px}
.mb10{margin-bottom:10px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.mr265{margin-right:265px}
.pr{position:relative}
.pa{position:absolute}
.pd10{padding:10px}
.pd20{padding:20px}
.pf{position:fixed}
.textcenter{text-align:center!important}
.font10{font-size:10px}
.font12{font-size:12px}
.clearfix{zoom:1}
.top10{top:10px!important}
.lineH25{line-height:25px}
.lineH50{line-height:50px}
.H963{height:963px;}
.H995{height:995px}
.w65{width:65px}
.w20{width:20px}
.pinkbold{color:#c200a3; font-weight:bold}
.bluecolor{color:#147db4!important}
.w400{width:371px}
.w550{width:550px}
.w300{width:300px}
.xiuicon{display:inline-block; width:20px; height:20px; background:url(../images/xiuicon_03.jpg) no-repeat; vertical-align: middle}
.xiubtn{ height:20px; line-height:20px; background:#f2f2f2; border:1px solid #ccc; padding:0 8px; display:inline-block}
.Leveltag{ width:23px; height:18px; display:inline-block; background:url(../images/oLeveltagiocn_03.jpg) no-repeat; vertical-align:middle; margin-left:5px;}

.categorysIcon, .rEventsIcon, .rEvents ul li, .guarantee .gImg, .panicIcon, .moreCate a, .rIcon1, .rBtn, .rBtn1, .promptIcon {
background: url(../images/yue09.jpg) no-repeat;
}
.flow_step_no1 .step_1 div, .flow_step_no2 .step_2 div, .flow_step_no2 .step_v2 div, .flow_step_no3 .step_3 div, .flow_step_no3 .step_v3 div, .flow_step_no4 .step_4 div {
background: url(../images/flow_step.png) 0px -90px;
color: #FFFFFF;

}
.nameyz {
overflow: hidden;
display: inline-block;
background: url(../images/user-ui2-icon.gif?version=201257) no-repeat;
}
.nameyz{background-position: -32px 0;width: 22px;height: 18px;}


.qz {
font-family: "宋体";
}
.qz {
width: 100%;
margin: 0px 0 0 0;
border: none;
border-collapse: collapse;
}
select, input {
font: 100% Tahoma,Helvetica,Arial,sans-serif;
vertical-align: middle;
}
a.loadzj, a.sqrz {
background: url(../images/use-icon-2.gif) 0 0 no-repeat;
}
element.style {
}
Matched CSS Rules
a.loadzj {
background-position: 0 -232px;
padding: 0 0 0 14px;
color: #2255DD;
}
.sjyz, .maileyz, .zzyz, .nameyzw, .sjyzw, .maileyzw, .zzyzw {
height: 19px;
border: 0;
overflow: hidden;
display: inline-block;
margin-right: 8px;
background-image: url(../images/txbackground.gif)!important;
background-repeat: no-repeat;
vertical-align: text-bottom;
}
.zzyz {
background-position: -7px -258px;
width: 23px;
}
.fix {
width: 100%;
height: 0;
overflow: hidden;
clear: both;
float: none;
}
button, input.btn, a.btn {
background: #f2f2f2 url(../images/T1rEnMXfVbXXXBDRQ9-1-120.gif) repeat-x left -60px!important;
min-width: 80px;
height: 26px;
margin: 2px;
border: 1px #ccc solid!important;
border-radius: 3px!important;
-moz-border-radius: 3px!important;
-webkit-border-radius: 3px!important;
color: #666!important;
font-size: 12px;
cursor: pointer!important;
overflow: hidden;
vertical-align: middle;
text-shadow: 1px 1px 1px #fff;
}
/*下拉菜单*/
.contedit {position: relative;float: left;display: inline;vertical-align: middle;}
.selestyle {float: left;display: inline;height: 32px;line-height: 32px;padding: 0 35px 0 10px;border: 1px solid #CCC;cursor: default;
background: url(../images/job_icon_db.gif) white right top no-repeat;margin-right: 5px;overflow: hidden;zoom: 1;}
.setbox {position: absolute;top: 34px;left: 0;background: white;border: 1px solid #C8C8C8;z-index: 1000;}
.setbox350{width:350px}
.singlelist a {display: block;padding: 0 10px;height: 28px;line-height: 28px;color: #404040;text-decoration: none;cursor: default;background: white;overflow: hidden;}
.singlelist a:hover{background:#f1f1f1}
/*.singlelistT{ width:200px;}*/
.singlelistT a{ padding:15px 12px 0 0; float:left; display:inline}
.singlelistT a:hover{background:none}
#seleCompType {width: 152px; z-index:62;}
#divCompType,.divCompType{width: 197px;}
/*下拉菜单end*/

.chenggong1 {
display: inline-block;
height: 16px;
background: url(../images/reg-menu.gif) 0 -22px no-repeat;
padding-left: 25px;
vertical-align: middle;
padding-right: 5px;
}
.introcont {
line-height: 26px;
border: 1px solid #C8C8C8;
padding: 5px 10px;
margin-top: -1px;
vertical-align: top;
resize: none;
overflow: auto;
width:560px;
height:100px;
}
.showhide{display:none}


/*切换*/
a.abtn{display:block;height:130px;width:20px; height:38px; overflow:hidden;background:url(../images/arrow3.png) no-repeat 0 0; margin-top:135px;}
a.aleft{float:left;background-position:-8px 0px;}
a.agrayleft{cursor:default;background-position:-47px 0px;}
a.aright{float:right;background-position:-88px 0px ;}
a.agrayright{cursor:default;background-position:-127px 0;}
.scrolllist{width:940px;height:300px;margin:0 auto;}
.scrolllist .imglist_w{width:890px;height:300px;overflow:hidden;float:left;position:relative;/*必要元素*/}
.scrolllist .imglist_w ul{width:20000px;position:absolute;left:0px;top:0px;}
.scrolllist .imglist_w li{width:890px;float:left;padding:0 10px; text-align:center}
.scrolllist .imglist_w li img{padding:2px;border:solid 1px #ddd;}
.scrolllist .imglist_w li a{color:#3366cc;text-decoration:none;}
.scrolllist .imglist_w li a:hover img{filter:alpha(opacity=86);-moz-opacity:0.86;opacity:0.86;}
.scrolllist .imglist_w li p{height:48px;line-height:24px;overflow:hidden;float:left;}

/*相册*/
#zoomr_show{
	-webkit-transition:right .15s ease-in-out,top .15s ease-in-out;
	-moz-transition:right .15s ease-in-out,top .15s ease-in-out;
	-ms-transition:right .15s ease-in-out,top .15s ease-in-out;
	-o-transition:right .15s ease-in-out,top .15s ease-in-out;
	transition:right .15s ease-in-out,top .15s ease-in-out
}
#zoomr_show:hover{background-position:left -32px}
#zoomr_show:active{background-position:left -64px}

#pin_cssbox #zoomr_show{top:-50px;right:-50px;width:32px;height:32px;}
#pin_cssbox.hover #zoomr_show,#pin_cssbox:hover #zoomr_show{top:0;right:0;}

#pin-jsbox #zoomr_show{top:0;right:0;width:0;height:0;}

.box .prevbtn,.box .nextbtn{position:absolute;top:0;width:50%;height:100%;display:block;z-index:100;background:url(spacer.gif);}
.box .prevbtn{cursor:url("http://www.17sucai.com/static/images/prev.cur"), auto;left:0;}
.box .nextbtn{cursor:url("http://www.17sucai.com/static/images/next.cur"), auto;right:0;}

/*登录*/
.w940{width:940px; margin:0px auto}